#lancelot-banner {
    background-color: #2ecc71;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:25px;
    padding-top:25px;
    z-index: 1000;
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
