#lancelot-banner {
    background-color: #2ecc71;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:25px;
    padding-top:25px;
    z-index: 1000;
    display: block;
    position: fixed;
    bottom: 12px;
    right: 12px;
    border-radius: 5px;
}

.exitButton a {
    top: 2px;
    right: 2px;
}
