#lancelot-banner {
    /* background-color: #2ecc71; */
    padding-left:25px;
    padding-right:25px;
    padding-bottom:25px;
    padding-top:25px;
    z-index: 1000;
    display: block;
    position: fixed;
    bottom: 12px;
    right: 12px;
    border-radius: 5px;
    /* height:100px; */
    /* width: 100px; */
    text-align: center;
}

.exitButton a {
    top: 2px;
    right: 2px;
}

#progress {
  width: 100%;
  background-color: #95a5a6;
}

#progress_bar {
  width: 1%;
  height: 30px;
  background-color: #e67e22;
}

#lancelot-banner p {
    font-size: 14px;
    font-style: normal;
    color: black;

}
